language: c
dist: trusty
sudo: false

branches:
  only:
  - master

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - pkg-config netcdf-bin libnetcdf-dev openmpi-bin libopenmpi-dev gfortran doxygen graphviz

before_install:
  - test -n $CC && unset CC
  - test -n $FC && unset FC
  - test -n $CPPFLAGS && unset CPPFLAGS
  - test -n FCFLAGS && unset FCFLAGS

before_script:
  - export CC=mpicc
  - export FC=mpif90
  - export CPPFLAGS='-I/usr/include'
  - wget https://dl.bintray.com/boostorg/release/1.72.0/source/boost_1_72_0.tar.gz
  - tar -xzvf boost_1_72_0.tar.gz
  - ls -l
  - pushd boost_1_72_0
  - export TOOLSET=gcc
  - export MPI_WRAPPER=mpicxx
  - export NPROC=12
  - export INSTALL_LOC=`pwd`/gcc
  - export BUILD_LIBS=mpi,serialization
  - export LIBRARY_TARGETS=shared,static
  - export BUILD_TYPE=complete
  - export LIBRARY_NAME=versioned
  - ./bootstrap.sh --with-toolset=${TOOLSET} --with-libraries=${BUILD_LIBS} --prefix=${INSTALL_LOC}
  - ./b2 -j ${NPROC} install --build-type=${BUILD_TYPE} --layout=${LIBRARY_NAME} --target=${LIBRARY_TARGETS}
  - pwd
  - popd
env:
  global:
    - CC=mpicc
    - FC=mpif90
    - CPPFLAGS='-I/usr/include'
    - CFLAGS='-std=c99'
    - LDFLAGS='-L/usr/lib'
  
script:
  - pwd
  - mkdir build
  - cd build
  - cmake -DBOOST_ROOT=boost_1_72_0/gcc ..
  - make VERBOSE=1
  - make tests VERBOSE=1
  - make test VERBOSE=1